---
interface Props {
  movie: any;
  uniqueId: string;
}

const { movie, uniqueId } = Astro.props;
---

<div class='group relative overflow-hidden rounded-lg cursor-pointer transition-all duration-300 hover:shadow-xl' title={movie.title} data-movie-id={uniqueId}>
  <div class='aspect-[2/3] w-full overflow-hidden bg-background sm:min-w-[80px]'>
    <img 
      src={movie.cover} 
      alt={movie.title} 
      class='h-full w-full object-cover transition-transform duration-500 group-hover:scale-110'
      loading={'lazy'}
      decoding='async'
      onerror="this.src='/cover/b1.png'; this.onerror=null;"
    />
  </div>
  <div class='absolute inset-0 bg-gradient-to-t from-black/60 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end p-3'>
    <p class='text-white bg-[rgba(25,29,39,0.6)] text-sm font-medium line-clamp-1 p-1 rounded'>{movie.title}</p>
  </div>
  <button 
    class='movie-item-btn absolute inset-0'
    data-dialog-id={uniqueId}
  ></button>
</div>